.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 80px);

  h1 {
    max-width: 1000px;
    color: #fff;

    text-align: center;
    font-size: 100px;
  }
}